body {
	background-color: #8ee2cb;
}

h1 {
	text-align: center;
	padding: 10px 10px;
	font-weight: bold;
}

.row {
	margin-bottom: 15px;
}

.giphy {
	margin-right: 10px;
	background-color: #33c3f0;
}

.rating {
	text-align: center;
	font-weight: bold;
	margin-top: 10px;
}

.giphyContainer {
	float: left;
	margin-right: 15px;
	margin-bottom: 25px;
	background-color: #f49565;
	border-radius: 10px;
}

#addGiphy {
	background-color: #CD5555;
}